# Managed by Ansible.
{{ nfs_server_share_path }} {{ nfs_server_share_network }}(rw,sync,no_subtree_check,root_squash)
{{ nfs_server_backup_path }} {{ nfs_server_backup_client }}(rw,sync,no_subtree_check,root_squash)
