{{ rsyslog_server_remote_log_dir }}/*/*.log {
    {{ rsyslog_server_logrotate_frequency }}
    rotate {{ rsyslog_server_logrotate_retention }}
    maxsize {{ rsyslog_server_logrotate_max_size }}
    compress
    delaycompress
    missingok
    notifempty
    su root adm
    create 0640 root adm
    sharedscripts
    postrotate
        systemctl kill -s HUP rsyslog.service >/dev/null 2>&1 || true
    endscript
}
