$TTL 3600
@ IN SOA {{ dns_server_fqdn }}. {{ dns_server_email }}. (
  1       ; serial
  3600    ; refresh
  900     ; retry
  604800  ; expire
  3600    ; negative cache TTL
)

@ IN NS {{ dns_server_fqdn }}.
@ IN A {{ dns_server_ip }}

{% for record in dns_server_forward_records %}
{{ record.name }} IN A {{ record.ip }}
{% endfor %}
