options {
  directory "/var/cache/bind";

  listen-on {
{% for address in dns_server_listen_addresses %}
    {{ address }};
{% endfor %}
  };
  listen-on-v6 { none; };

  recursion yes;
  allow-query {
{% for network in dns_server_allowed_networks %}
    {{ network }};
{% endfor %}
  };
  allow-recursion {
{% for network in dns_server_allowed_networks %}
    {{ network }};
{% endfor %}
  };
  allow-transfer { none; };

  forwarders {
{% for server in dns_server_forwarders %}
    {{ server }};
{% endfor %}
  };

  dnssec-validation auto;
};
